<?php
	require("../idiomes/ca.php");
?>

	<div>
		<div class="row">

			<div class="col-md-12 col-xs-12" ng-init="showCategoryTitle(selectedCategoryID)">

				<div class="title-one-new text-center majus title-page">
					<h1> {{categoryObject.ca_nom}} <span ng-if="selectedCategoryID == 1"> {{subCategory.ca_nom}}</span></h1>
				</div>

			</div>

			<div class="col-md-12 col-xs-12 marginbot20">
				<div id="breadcrumb-general" class="btn-group btn-breadcrumb">
					<a href="#" class="btn item-breadcrumb"><i class="fa fa-home"></i></a>
					<a ui-sref="cataleg" ng-click="posicionarTop()" class="btn item-breadcrumb">
						<div> {{constant.productes}} </div>
					</a>
					<a ui-sref="cataleg" ng-click="posicionarTop()" class="btn item-breadcrumb">
						<div> {{constant.catalegTitol}} </div>
					</a>
					<a href="" class="btn item-breadcrumb">
						<div> {{categoryObject.ca_nom}} </div>
					</a>
				</div>
			</div>
			<div class="col-md-12 col-xs-12 text-center margintop20 marginbot40">
				<input class="seaching" ng-model="searchText" placeholder="Busca el producte...">
			</div>

			<div class="col-md-10 col-md-offset-1 col-xs-12">
				<div class="col-md-4 col-xs-12" ng-repeat="product in displayItems | filter : {nom: searchText} as filteredItems">

					<div class="col-md-12 col-xs-12 dinamic-box-prod padingbottom40">

						<div class="col-lg-12 col-md-12 col-xs-12 center">
							<a href="#" class="title-prod-dskt" ui-sref="producteDetalls({id: product.id})" ng-click="posicionarTop()" ng-if="selectedCategoryID!=='9'">
								<img class="img-responsive center" ng-src="images/productes/{{product.imatge}}" on-error-src="images/productes/producte_no_disponible.jpg">
							</a>
							<a href="#" class="title-prod-dskt" ui-sref="packDetalls({id: product.id})" ng-click="posicionarTop()" ng-if="selectedCategoryID==='9'">
								<img class="img-responsive center" ng-src="images/productes/{{product.imatge}}" on-error-src="images/productes/producte_no_disponible.jpg">
							</a>

						</div>

						<div class="col-md-12 col-xs-12">

							<div class="col-md-12 col-xs-12 box-info-product-list-1">

								<div class="col-md-12 col-xs-12 box-title-product marginbot10">
									<h4 class="title-prod-dskt"><a href="#" class="title-prod-dskt" ui-sref="producteDetalls({id: product.id})" ng-click="posicionarTop()" ng-if="selectedCategoryID!=='9'">{{ product.nom }}</a></h4>
									<h4 class="title-prod-dskt"><a href="#" class="title-prod-dskt" ui-sref="packDetalls({id: product.id})" ng-click="posicionarTop()" ng-if="selectedCategoryID==='9'">{{ product.nom }}</a></h4>
								</div>

								<!--<div class="col-md-12 col-xs-12 show-dskt">
								<article> {{product.descripcio}} </article>
							</div>-->

							</div>

							<div class="col-md-12 col-xs-12 box-info-product-list-2">

								<div class="col-lg-12 col-md-12 col-xs-12 box-ref-product">
									Refèrencia : <b>{{product.codi}} </b>
								</div>
								<div class="col-lg-12 col-md-12 col-xs-12 box-ref-product">
									Procedència : <b>{{product.info}} </b>
								</div>

								<div class="col-lg-7 col-md-6 col-sm-7 col-xs-7 box-ref-product">
									Preu
								</div>
								<div class="col-lg-5 col-md-6 col-sm-5 col-xs-5 box-preu-product" ng-if="product.preu > 0">
									{{product.preu | number:2 }} &euro; / {{ product.tipus }}
								</div>
								<div class="col-lg-5 col-md-6 col-sm-5 col-xs-5 box-preu-product" ng-if="product.preu == 0">
									Consultar
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-xs-12 separador margintop30 marginbot40"></div>
					<div class="col-md-12 col-md-12 col-xs-12 text-center message-empty" ng-if="filteredItems.length === 0">{{constant.producteNO}}</div>
				</div>

			</div>

			<div class="col-md-12 col-xs-12 text-center margintop20 marginbot10" ng-if="totalProductsArray.length<=0">
				<h3>{{constant.producteNO2}}</h3>
				<img src="images/no_product.jpg" alt="" height="100px" width="160px" />
			</div>

			<div class="col-md-12 col-xs-12 text-center message-empty" ng-if="filteredItems.length === 0">{{constant.producteNO}}</div>

			<div class="col-md-12 col-xs-12 text-center">
				<!-- pager -->
				<ul uib-pagination class="pagination-sm pagination" total-items="totalProductsArray.length" ng-model="page" ng-change="pageChanged()"
					previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page={{displayItems.length}} ng-click="posicionarTop()"></ul>


			</div>

		</div>
		<!-- End row -->
	</div>